.top, .left , .right, .bottom {
    min-height: 100;
    border: 1px solid black;
}

.left, .right {
    box-sizing: border-box;
    display:inline-block;
    width: 50%;
}

textarea {
    width:100%;
}

.newDiv {
    float: left;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin: 10px;
}